body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #2A2C30;
}

#container {
  text-align: center;
  position: absolute;
  top: 25%;
  width: 100%;
  color: #FFF;

  font-family: "Roboto";
}

#time {
  font-size: 16em;
  font-weight: 100;

  margin-bottom: 40px;
}

#date {
  font-size: 3em;
  font-weight: 300;
}
